<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Lane Barcode</th>
      <th>Metaproject</th>
      <th>Run Finished Date</th>
      <th>Total MB</th>
      <th>Prefix</th>
      <th>Group</th>
      <th>new_application</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>HHFHWCCXY-1-IDDUI034</td>
      <td>TOPMed SOL Phase III PI Weir</td>
      <td>2018-01-01</td>
      <td>5553</td>
      <td>IWG</td>
      <td>TOPMed</td>
      <td>Whole Genome</td>
    </tr>
    <tr>
      <th>1</th>
      <td>HHFHWCCXY-1-IDDUI035</td>
      <td>TOPMed SOL Phase III PI Weir</td>
      <td>2018-01-01</td>
      <td>5844</td>
      <td>IWG</td>
      <td>TOPMed</td>
      <td>Whole Genome</td>
    </tr>
    <tr>
      <th>2</th>
      <td>HHFHWCCXY-1-IDDUI036</td>
      <td>TOPMed SOL Phase III PI Weir</td>
      <td>2018-01-01</td>
      <td>5814</td>
      <td>IWG</td>
      <td>TOPMed</td>
      <td>Whole Genome</td>
    </tr>
    <tr>
      <th>3</th>
      <td>HHFHWCCXY-1-IDDUI037</td>
      <td>TOPMed SOL Phase III PI Weir</td>
      <td>2018-01-01</td>
      <td>6160</td>
      <td>IWG</td>
      <td>TOPMed</td>
      <td>Whole Genome</td>
    </tr>
    <tr>
      <th>4</th>
      <td>HHFHWCCXY-1-IDDUI038</td>
      <td>TOPMed SOL Phase III PI Weir</td>
      <td>2018-01-01</td>
      <td>5937</td>
      <td>IWG</td>
      <td>TOPMed</td>
      <td>Whole Genome</td>
    </tr>
    <tr>
      <th>5</th>
      <td>HHFHWCCXY-1-IDDUI039</td>
      <td>TOPMed SOL Phase III PI Weir</td>
      <td>2018-01-01</td>
      <td>5087</td>
      <td>IWG</td>
      <td>TOPMed</td>
      <td>Whole Genome</td>
    </tr>
  </tbody>
</table>