{% extends "layout.html" %}
{% block content %}
  <h2>Welcome to QC Report</h2>
      <article class="media content-section">
        <div class="media-body">
          <p>Distribution by Group</p>
          <img src="/home/plot1" alt="graph">
        </div>
      </article>
{% endblock content %}
{% block sidebar %}
      <br>
      <br>
      <article class="media content-section">
        <div class="media-body">
          <p>Distribution by Application</p>
          <img src="/home/plot2" alt="graph">
        </div>
      </article>
{% endblock sidebar %}
