{# Query HTML #}
{% extends "layout.html" %}
{% block content %}
  <body>
    <h1>Query Form</h1>
      <div class="content-section">
          <form method="POST" action="">
          {{ form.hidden_tag() }}
          <form class="form-inline">
            <div class="form-inline">
              {{ form.qcreport.label }}
              {% if form.qcreport.errors %}
                {{ form.qcreport(class="is-valid") }}
                  <div class="invalid-feedback">
                    {% for error in form.qcreport.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
              {% else %}
              {{ form.qcreport }}
              {% endif %}
              <small class="text-muted ml-2">
                must be 2-20 characters long...
              </small>
            </div>
          <br>
          {{ form.platform.label }}{{ form.platform }}
          <br>
          {{ form.group.label }}{{ form.group }}
          <br>
          {{ form.appl.label }}{{ form.appl }}
          <br>
          <!-- QC group care about 'Run Finished Date' -->
          {{ form.start.label }}{{ form.start }}
          <br>
          {{ form.end.label }}{{ form.end }}
          <br>
          {{ form.agg.label }}{{ form.agg }}
          <br>
          {# { form.plot_choice.label }}{{ form.plot_choice } #}
          <br>
          {{ form.display_table.label }}{{ form.display_table }}
          {{ form.submit(class="btn btn-outline-info") }}
          </form>
      </div>
  </body>
{% endblock content %}
