{# Query HTML #}
{% extends "layout.html" %}
{% block content %}
  <body>
    <h1>Query Form</h1>
    {% for message in form.qcreport.errors %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
    {% for message in form.platform.errors %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
    {% for message in form.group.errors %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
    {% for message in form.appl.errors %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
    {% for message in form.date_start.errors %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
    {% for message in form.time_start.errors %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
    {% for message in form.date_end.errors %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
    {% for message in form.time_end.errors %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
    {% for message in form.agg.errors %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
      <div class="content-section">
          <form method="POST" action="" target="_blank">
          {{ form.qcreport.label }}{{ form.qcreport }}
            <small class="text-muted ml-2">
              must be 2-20 characters long...
            </small>
          <br>
          {{ form.platform.label }}{{ form.platform }}
          <br>
          {{ form.group.label }}{{ form.group }}
          <br>
          {{ form.appl.label }}{{ form.appl }}
          <br>
          <!-- QC group care about 'Run Finished Date' -->
          {{ form.date_start.label }}{{ form.date_start }}
              <small class="text-muted ml-2">
                shoud be %Y-%m-%d
              </small>
          <br>
          {{ form.time_start.label }}{{ form.time_start }}
              <small class="text-muted ml-2">
                can be %H:%M:%S or default value of MIDNIGHT
              </small>
          <br>
          {{ form.date_end.label }}{{ form.date_end }}
              <small class="text-muted ml-2">
                should be %Y-%m-%d
              </small>
          <br>
          {{ form.time_end.label }}{{ form.time_end }}
              <small class="text-muted ml-2">
                can be %H:%M:%S or default value of MIDNIGHT
              </small>
          <br>
          {{ form.agg.label }}{{ form.agg }}
          <br>
          {# { form.plot_choice.label }}{{ form.plot_choice } #}
          <br>
          {{ form.display_table.label }}{{ form.display_table }}
          {{ form.submit(class="btn btn-outline-info") }}
          </form>
      </div>
  </body>
{% endblock content %}
