{% extends "layout.html" %}
{% block content %}
    <h1>Table Page</h1>
    {{ num_rows }}
    <p>Here is the query info you entered:</p>
    <ul>
      <li>QC Report: {{ qcreport }}</li>
      <li>Platform: {{ platform }}</li>
      <li>Group: {{ group }}</li>
      <li>Application: {{ appl }}</li>
      <li>Start: {{ start }}</li>
      <li>End: {{ end }}</li>
      <li>Aggregation: {{ agg }}</li>
    </ul>
    <!-- Auto width -->
    <a href="{{ dl_url }}" download="qcweb_query.csv"><button>Download (CSV)</button></a>
    <form method="GET" action="/plot" target="_blank">
      {{ plot_form.start }}
      {{ plot_form.end }}
      {{ plot_form.platform }}
      {{ plot_form.group }}
      {{ plot_form.appl }}
      {{ plot_form.plot_choice.label }}{{ plot_form.plot_choice }}
      {{ plot_form.submit(class="btn btn-outline-info") }}
    </form>
    <br>
    <br>
    {{ data.to_html(justify='center') | safe }}
{% endblock content %}
