{% extends "layout.html" %}
{% block content %}
    <h1>Table Page</h1>
    {{ num_rows }}
    <p>Here is the query info you entered:</p>
    <ul>
      <li>QC Report: {{ qcreport }}</li>
      <li>Platform: {{ platform }}</li>
      <li>Group: {{ group }}</li>
      <li>Application: {{ appl }}</li>
      <li>Start: {{ start }}</li>
      <li>End: {{ end }}</li>
      <li>Aggregation: {{ agg }}</li>
      <li>Display Table: {{ display_table }}</li>
    </ul>
    <!-- Auto width -->
    <a href="{{ dl_url }}" download="qcweb_query.csv"><button>Download (CSV)</button></a>
    <a href="{{ pl_url }}"><button>Plot These Results</button></a>
    <br>
    <br>
    {{ data.to_html(justify='center') | safe }}
{% endblock content %}
